obj
bin
deploy
deploy/*
temp/
_ReSharper.*
*.ReSharper.user
*.csproj.user
*.sln.*.user
*.resharper.user
*.user
*.resharper
*.suo
*.cache
~$*.DS_Store
.DS_Store
._*
examples/self_test
!gem/bin/*
gem/pkg/*
gem/dotnet/Cuke4NukeLog.txt*
*.gem
TestResult.xml
.idea
*.swp
Coypu*.zip
Coypu*.nupkg
chromedriver.log
Coypu-*.wrap
src/packages
.build
.lock.json
.tmp
.vs