<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nspec" version="1.0.13" targetFramework="net45" />
  <package id="NUnit" version="3.6.1" targetFramework="net45" />
  <package id="Selenium.Mozilla.Firefox.Webdriver" version="0.6.0.1" targetFramework="net45" />
  <package id="Selenium.Support" version="3.3.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.3.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.27.0" targetFramework="net45" />
  <package id="SelfishHttp" version="0.3.0" targetFramework="net45" />
  <package id="WatiN" version="2.1.0" targetFramework="net45" />
  <package id="WebDriver.GeckoDriver" version="0.13.0" targetFramework="net45" />
</packages>