<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="2.5.2" />
  <package id="DotNetZip" version="1.9.1.8" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net35" />
  <package id="Selenium.WebDriver" version="2.25.1" targetFramework="net35" />
</packages>